{% extends "index.html" %}
{% block header_css %}
	<style>
		table a:hover {
                        cursor:pointer;
                        color:red;
                }
		#show_result {
			width:500px;
			height:200px;
			overflow:auto;
			border:1px solid #ccc;
			font-weight:bold;
		}
	</style>	
{% endblock %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <!--
            <div class="col-xs-6 col-sm-3 placeholder">
              erewere
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              sdsfds
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              sfsdfds
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
   	</div>
	--!>
	<div class="table-responsive" style='margin-top:10px'>
	    <form action='/cmdb/single_command/' method='post'>{% csrf_token %}
		<table class="table table-striped">
                 <tbody>
        	     <tr><td>主机 {{SingleCommandForm.hostname}}</td></tr>
        	     <tr><td>命令 {{SingleCommandForm.command}}</td></tr>
		     <tr><td><input type='submit' value='执行' /></td></tr>
                 </tbody>
               </table>
            </form>
	</div>
	<h4 class="page-header">执行结果如下:</h4>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" id='show_result'>
		
            </div>
	</div>
</div>
{% endblock %}
{% block bottom_js %}
	<script>
		var content="";
		if("{{json_result}}"){
			arr_result={{json_result|safe}};
			for(var i in arr_result){
				content+=arr_result[i]+'<br/>';
			};
		}
		$('#show_result').html(content);
		$(function(){
                        var url=window.location.href;
                        if (url.indexOf('?')>0){
                                position=url.indexOf('?');
                                url=url.substring(0,position);
                                window.location.href=url;
                        }
                })
	</script>
{% endblock %}

